<!-- templates/registration/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block content %}
<div class="container mb-2">

    {% if user.is_authenticated %}
    Alright, {{ user.username }}! You are already logged in!

    <!--Mobile nav goes here-->
    {% include 'nav-small.html' %}

    {%else%}
    <h2>Log In</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    {%endif%}
    <hr>
</div>
{% endblock %}