{% extends "base.html" %}
{% load static %}

{% block content%}
<h1 class="display-1 text-center">PizzaPython</h1>
{% include "nav-small.html" %}
<section class="container pt-5 pb-5 shadow-sm">
    <h1>Pizza list</h1>
    <div class="row">
        <div class="col card mb-4 mt-3">
            {% for pizza in object_list %}
             {% if pizza.show_on_homepage %}
                    <div class="text-align-right">
                        <span>Featured on Homepage!<span>
                    </div>
                    {% endif %}
            {% if user == pizza.user_id %}
            <h4>Your Pizza:</h4>
            {%endif%}
            
            <div class="card-body shadow{% if user == pizza.user_id %} my-pizza{%endif%}">
                <!-- The pizza content goes inside the card-text. -->
                <div id="{{pizza.slug}}" class="card-text">
                    <h2>{{pizza.title}}</h2>
                   
                    <p class="subtitle">Made by {{ pizza.user_id }}
                        <br>Created on {{ pizza.created_on }}
                        <!-- Show modified date if it is different to created date -->
                        {% if not pizza.updated_on == pizza.created_on %}
                        <br>Modified on {{ pizza.updated_on }}
                        {% endif %}
                    </p>
                    <p>{{ pizza.base_id.name }}
                        <br>
                        <span class="px-0">
                            {% if not pizza.cheese %}
                            <i class="fa-solid fa-xmark red"></i>
                            {% else %}
                            <i class="fa-solid fa-check green"></i>
                            {% endif %}
                            Cheese
                        </span>
                        <span class="px-2">
                            {% if not pizza.tom_sauce %}
                            <i class="fa-solid fa-xmark red"></i>
                            {% else %}
                            <i class="fa-solid fa-check green"></i>
                            {% endif %}
                            Sauce
                        </span>
                        <br>
                        {% for topping in pizza.topping_id.all %}
                        <i class="fa-solid fa-plus"></i>{{topping.name}}
                        {% endfor %}
                    </p>
                </div>
                <div class="row pr-2">{% if user.is_authenticated %}
                    <a class="col-6 p-2" href="#">
                        <button data-slug-field="{{pizza.slug}}" type="button" class="btn btn-order btn-primary">
                            Order this Pizza</button></a>
                    <a class="col-6 p-2" href="{% url 'new_pizza' %}">
                        <button type="button" class="btn btn-primary">
                            Make a pizza</button>
                    </a>
                </div>
                <div class="row pr-2">
                    {% if user == pizza.user_id %}
                    <a class="col-6 p-2" href="{% url 'edit_pizza' pizza.slug %}">
                        <button type="button" class="btn btn-primary">
                            Edit this pizza</button>
                    </a>
                    <a class="col-6 p-2" href="{% url 'delete_pizza' pizza.slug %}">
                        <button type="button" class="btn btn-primary">
                            Delete this pizza</button>
                    </a>
                    {% endif %}
                    {% else %}
                    <a class="col-4" href="{% url 'login' %}">Login/Register to edit this Pizza</a>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
{% block modal-title %}Order Confirmation{% endblock %}
{% block modal-content %}
<div id="modal-content"></div>
{% endblock %}
{% block modal-submit %}Confirm Order{% endblock %}