{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Editing a Pizza{% endblock %}
{% block content %}

{% include 'nav-small.html'%}
<div class="container">
    <div class="row g-0">
        <div class="col-md-6">
            <!-- title goes in these h1 tags -->
            <h1 class="pizza-title">{{ pizza.title }}</h1>
            <!-- User goes before the | the created date goes after -->
            <p class="subtitle">Made by {{ pizza.user_id }}
                <br> on {{ pizza.created_on }}
            </p>
        </div>
        <div class="col-md-6">
            Image:
            {% if "placeholder" in pizza.featured_image.url %}(placeholder - only admin can change images)
            <img class="img-fluid" src="{% static 'images/default.jpg' %}" alt="default image of a pizza">
            {% else %}
            <img class="img-fluid" src="{{ pizza.featured_image.url }}" alt="{{ pizza.title }}">
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col card mb-4 mt-3 shadow">
            <div class="card-body">
                <!-- The pizza content goes inside the card-text. -->
                <div class="card-text">
                    <div>{{ pizza.base_id.name }}
                        <br>
                        <span class="ingredients w-auto">
                            <span class="px-2">
                                {% if not pizza.cheese %}
                                <i class="fa-solid fa-xmark red"></i>
                                {% else %}
                                <i class="fa-solid fa-check green"></i>
                                {% endif %}
                                Cheese
                            </span>
                            <span class="px-2">
                                {% if not pizza.tom_sauce %}
                                <i class="fa-solid fa-xmark red"></i>
                                {% else %}
                                <i class="fa-solid fa-check green"></i>
                                {% endif %}
                                Sauce
                            </span>
                        </span>
                    </div>
                    <br>
                    <p> {% for topping in pizza.topping_id.all %}
                        <i class="fa-solid fa-plus"></i> {{topping.name}}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <!-- display edit form if user is logged in and is the creator -->
        <div class="card-body p-2 mb-2">
            {% if user.is_authenticated %}
            {% if user == pizza.user_id %}
            <h3>Edit this Pizza:</h3>
            <form id="orderForm" method="post">
                {{ order_form | crispy }}
                {% csrf_token %}
                <button id="submitButton" type="submit" class="btn btn-primary">Save Changes</button>
                <a href="{% url 'all_pizzas' %}" class="btn btn-secondary">Go back</a>
            </form>
            {% else %} <!-- user logged in but not creator -->
            <p class="alert alert-primary text-center">Only {{ pizza.user_id }} can edit this Pizza</p>
            {% endif %}
            {% else %} <!-- not logged in -->
            <p class="alert alert-danger text-center">Not logged in!</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}