{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="main-header" class="container p-0">
    <div class="row g-0 h-25">        
        <div class="col-md-8">
            <img class="img-fluid" src="{% static 'images/pizza-python-header.webp' %}"
               alt="A python curled around and about to eat a pizza">
        </div>
        <div id="about" class="col-md-4">
            {% include 'about.html' %}
        </div>
        <h1>PizzaPython</h1>
    </div>    
</div>
{% include 'nav-small.html' %}
<section class="container pt-md-3 pb-5 shadow-sm" id="pizza-list">    
    <p class="tagline p-1">All our pizzas are created with fresh
        ingredients, handcrafted dough and finest cheese.</p>
    <p>See more on the <a href="{% url 'all_pizzas' %}"
            class="btn btn-primary">All Pizzas</a> page.</p> 
    <p class="h1">Featured Pizzas</p>
    <div class="row">
        <!-- Show all the pizzas in card format --> 
        {% for pizza in object_list %}
        <div class="col-md-6 mb-4 d-flex align-items-top">
            <div class="card p-2">
                <div class="card-image">
                    {% if "placeholder" in pizza.featured_image.url %}
                    <img class="img-fluid" src="{% static 'images/default.jpg' %}" alt="default image of a pizza">
                    {% else %}
                    <img class="img-fluid" src="{{ pizza.featured_image.url }}" alt="{{ pizza.title }}">
                    {% endif %}
                    <div class="card-image-title">
                        <h2>{{ pizza.title }}</h2>
                    </div>
                    <div class="card-image-text">
                        <p>A classic {{ pizza.base_id }} pizza base
                            {% if pizza.topping_id.all %} topped with
                            {% for topping in pizza.topping_id.all %}
                            {{topping.name}}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div id="{{pizza.slug}}">
                    <p>{{ pizza.base_id.name }}
                        <br>
                        <span class="ingredients w-auto">
                            <span class="px-2">
                                {% if not pizza.cheese %}
                                <i class="fa-solid fa-xmark red" title="No cheese"></i>
                                <span class="sr-only">No cheese</span>
                                {% else %}
                                <i class="fa-solid fa-check green" title="With cheese"></i>
                                <span class="sr-only">With cheese</span>
                                {% endif %}
                                Cheese
                            </span>
                            <span class="px-2">
                                {% if not pizza.tom_sauce %}
                                <i class="fa-solid fa-xmark red" title="No sauce"></i>
                                <span class="sr-only">No sauce</span>
                                {% else %}
                                <i class="fa-solid fa-check green" title="With sauce"></i>
                                <span class="sr-only">With sauce</span>
                                {% endif %}
                                Sauce
                            </span>
                        </span>
                    </p>
                    <br>
                    <p>
                        {% for topping in pizza.topping_id.all %}
                        <i class="fa-solid fa-plus"></i> {{topping.name}}
                        {% endfor %}
                    </p>
                </div>
                <p>
                    Created by: {{ pizza.user_id }} on {{pizza.created_on}}
                </p>
                {% if user.is_authenticated %}
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="#" data-slug-field="{{pizza.slug}}"
                          class="btn btn-order btn-primary">Order this Pizza</a>
                    </div>
                </div>
                {% else %}
                <a href="{% url 'login' %}">Login/Register to order or make your own Pizza</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<!-- end content -->
{% endblock %}
{% block modal-title %}Order Confirmation{% endblock %}
{% block modal-content %}
<div id="modal-content"></div>
{% endblock %}
{% block modal-submit %}Confirm Order{% endblock %}