{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="main-header" class="container p-0">
    <div class="row g-0 h-25">
        <div class="col">
            <h1>PizzaPython</h1>
            <img class="img-fluid" src="{% static 'images/pizza-python-header.webp' %}"
                alt="A python curled around and about to eat a pizza">
        </div>
    </div>
    <nav id="nav-small">
        <div class="text-center mt-3">
            <p>
                <button type="button" class="btn btn-primary">About Us</button>
            </p>
            <p>{% if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-primary">
                    Logout
                    </button>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <button type="button" class="btn btn-primary">
                    Login / Register
                    </button>
                </a>
                {% endif %}
            </p>
        </div>
    </nav>
</div>

{% block pizza_block %}
<section id="pizza-list">
    <h1>Pizza list</h1>
    <div class="row">
        <div class="col">
            <!-- Show all the pizzas in card format -->
            {% for pizza in object_list %}
            <div class="card p-2">
                <div class="card-image">
                    {% if "placeholder" in pizza.featured_image.url %}
                    <img class="img-fluid" src="{% static 'images/default.jpg' %}" alt="default image of a pizza">
                    {% else %}
                    <img class="img-fluid" src="{{ pizza.featured_image.url }}" alt="{{ pizza.title }}">
                    {% endif %}
                    <div class="card-image-title">
                        <h2>{{ pizza.title }}</h2>
                    </div>
                    <div class="card-image-text">
                        <p>A classic {{ pizza.base_id.name }} pizza base
                            {% for topping in pizza.topping_id.all %}, with
                            {{topping.name}} {% endfor %}.
                        </p>
                    </div>
                </div>
                <p>{{ pizza.base_id.name }}
                    <br>
                    <span class="ingredients w-auto">
                        <span class="px-2">
                            {% if not pizza.cheese %}
                            <i class="fa-solid fa-xmark red"></i>
                            {% else %}
                            <i class="fa-solid fa-check green"></i>
                            {% endif %}
                            Cheese
                        </span>
                        <span class="px-2">
                            {% if not pizza.tom_sauce %}
                            <i class="fa-solid fa-xmark red"></i>
                            {% else %}
                            <i class="fa-solid fa-check green"></i>
                            {% endif %}
                            Sauce
                        </span>
                    </span>
                </p>
                <br>
                <p> {% for topping in pizza.topping_id.all %}
                    <i class="fa-solid fa-plus"></i> {{topping.name}}
                    {% endfor %}
                </p>
                <p>Created by: {{ pizza.user_id }} on {{pizza.created_on}}
                    <br>
                    {% if user.is_authenticated %}<a href="#">Make your own Pizzas</a>
                    {% else %}
                    <a href="{% url 'login' %}">Login/Register to make your own Pizza</a>
                    {% endif %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- end pizza_block -->
{% endblock %}
<!-- end content -->
{% endblock %}