/* Colours from colormind.io */
/* Google Fonts via Fontjoy.com */
:root {
    --primary:#a61b0b;
    --light-accent:#77a60b;
    --dark-accent: #0b39a6;
    --light-shade:#ede3dd;
    --dark-shade: #1a1419;
    --heading-font: "Almendra", serif;
    --title-font:"Courgette", cursive;
    --copy-font:"Shanti", serif;
}

/* reset CSS margins */
* {
    margin:0;
    padding:0;
}
body {
    background-color: var(--light-shade);
    color:var(--dark-shade);
    font-family: var(--copy-font);
    font-weight: 400;
    font-style: normal;
}
h1, .h1 {
    font-family: var(--heading-font);
    color: var(--primary);
}
h2, .h2 {
    font-family: var(--title-font);
}

/* -- Ids -- */
/* navbar hidden by default. shown on larger screens via media queries */
#navbar {
    display: none;
}
#nav-small {
    display:block;
}
#nav-small button {
    width:142px;
}
#main-header {
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
#main-header h1 {
    font-size:3.5em;
    font-weight:bold;
    text-shadow: var(--light-accent) 2px 2px 4px;
    position: relative;
    margin:0 auto;
}
footer i {
    padding: 0 3px;
}

/* -- classes -- */
.btn {
    padding: 0.3em 1.5em;
}
.btn-primary {
    background-color: var(--dark-accent);
    color: var(--light-shade);
}
.btn-primary:hover {
    background-color: var(--dark-shade);
    color: var(--light-shade);
}
.nav {
    border:var(--light-accent) solid 2px;
    border-radius:3px;
    box-shadow: 0 2px 3px var(--primary);
}
.my-pizza {
    border:var(--dark-shade) solid 2px;
    border-radius:3px
}
.bg-dark {
    /* reverses text and background colours */
    background-color: var(--dark-shade);
    color:var(--light-shade);
}
.bg-light {
    /* reverses text and background colours */
    background-color: var(--light-shade);
    color:var(--dark-shade);
}
.ingredients span {
    border: grey solid 1px;
    border-radius: 4px;
    font-size: smaller;
}
.red {
    color: var(--primary);
}
.green {
    color:var(--light-accent);
}
.card-image {
    position: relative;
}
.card-image-title {
    position: absolute;
    top: -5px;
    left:-5px;
    background-color: var(--light-accent);
    color: white;
    padding:0 5px;
}
.card-image-text {
    position: absolute;
    margin-left:33%;
    bottom:12px;
    right:-5px;
    background-color: rgba(255,255,255,.75);
    padding:0 5px;
}
/* Media Queries */
@media screen and (max-width: 451px) {
.card-image-text { 
    max-height: 140px;  /*Limit size of description box */
    overflow: scroll;   /*on smallest screens*/
}  

}
@media screen and (min-width: 768px) {
    #navbar { display: block;}  /*show navbar at top of screen */
    #nav-small { display: none;} /*Hide mobile nav area*/
    #main-header h1 {
        font-size:7em;
        position:absolute;
        right:0;
    }
}