    <p>Order ONLINE now! Pizzas made ready for collection:</p>
    <ul class="list-group">
        {% for base in bases_list %}
        <li class="list-group-item-warning">{{ base }}</li>
        {% endfor %}
    </ul>
    <table id="opening_times">
        <tr>
            <th>Opening Times</th>
        </tr>
        <tr>
            <td>Monday</td>
            <td>7pm</td>
            <td>11pm</td>
        </tr>
        <tr>
            <td>Tuesday</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Thu</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Sat</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Sun</td>
            <td></td>
            <td>11pm</td>
        </tr>
    </table>
