<nav id="nav-small">
    <div class="container text-center mt-3">
        <div class="row px-2 mb-2" >
            <a class="col-6" href="{% url 'home' %}">
                <button type="button" class="btn btn-primary">
                    Home
                </button></a>
            <a class="col-6" href="#">
                <button type="button" class="btn btn-primary">About Us
                </button></a>
            </div>
        <div class="row px-2">{% if user.is_authenticated %}
            <a class="col-12" href="{% url 'logout' %}">
                <button type="button" class="btn btn-primary">
                    Logout
                </button></a>
            {% else %}
            <a  class="col-6" href="{% url 'login' %}">
                <button type="button" class="btn btn-primary">
                    Login
                </button></a>
            <a  class="col-6" href="{% url 'signup' %}">
                <button type="button" class="btn btn-primary">
                    Register
                </button></a>
            {% endif %}
            </div>
    </div>
</nav>